<div>
        <div>
          <h1>Autor</h1>
        </div>

        <div style="float: left;">
          <img src="http://josebamadrigal.com/imagenes/josebamadrigal.jpg" alt="Joseba Madrigal" />
        </div>

        <div>
          <h2>Joseba Madrigal Marinas - Software engineer</h2>
        </div>

        <div>
          <ul>

            <li>Fecha de nacimiento: 26/01/1986</li>
            <li>Email: mjoseba@gmail.com</li>
            <li>Localización: Bilbao Bizkaia (Spain)</li>

          </ul>
        </div>

</div>
